#!/bin/bash

export ROOT_DIR=$(pwd)

export DATA_DIR=/home/jaafar/dev/SBER/data
export SHELL=/bin/bash
export DISPLAY=:0
export COMPOSE_PROJECT_NAME="L3GS"

export RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION:-rmw_cyclonedds_cpp}
export CYCLONEDDS_URI=${CYCLONEDDS_URI:-${ROOT_DIR}/install/cyclonedds.xml}
export FASTRTPS_DEFAULT_PROFILES_FILE=${FASTRTPS_DEFAULT_PROFILES_FILE:-${ROOT_DIR}/install/fastdds.xml}

